*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

.header__bg-img{
    position: relative;
    background: #000000;
    overflow: hidden;
    color: #ffffff;
}

.header__bg-img .bg-img {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.4;
}

.container{
    height: auto;
    padding: 0 60px; 
}

.header__wrapper{
    position: relative;
}

.header__navbar{
    padding-top: 40px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header__list{
    display: flex;
}

.header__list ul{
    display: flex;
    margin: 0 60px;
    list-style: none;
}

.header__list li{
    margin: 0 60px ;
    cursor: pointer;
}

.header__list a{
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}

.header__text{
    max-width: 800px;
    text-align: center;
    margin: 200px auto 250px;
}

.header__title{
    font-size: 60px;
    font-weight: 700;
    line-height: 90px;
}

.header__description{
    font-size: 20px;
    font-weight: 400;
    color: #acbecd;
}

.header__bottom-arrov img{
    display: block;
    margin: 0 auto;
    padding-bottom: 100px;
}


.header__box{
    padding: 40px 0;
    background-color: #f5f6f7;
}

.header__form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/* HEADER CHOICES */

.header__choises .contest{
    position: relative;
    padding:0 35px;
    cursor: pointer;
    color: #333333;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}
  
.contest input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
  
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 3px;
    border: 2px solid #aa9b77;
}
  
.contest:hover input ~ .checkmark {
    background-color: #ccc;
}
  
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
    color: #aa9b77;
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid #aa9b77;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}
  
.contest input:checked ~ .checkmark:after {
    display: block;
}

 /* HEADER CHOICES */

.header__btn{
    width: 205px;
    height: 50px;
    border-radius: 3px;
    background-color: #aa9b77;
    text-align: center;
    padding-top: 13px;
}

.header__btn a{
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.products__wrapper {
    margin-top: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product__box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 20px;
    padding: 20px;
    width: 320px;
    height: 420px;
    text-align: center;
    background-color: #f5f6f7;
}

.product__img {
    margin-top: 20px;

}
.product__price {
    margin-top: 30px;
}
.btn {
    margin-top: 50px;
}
  
  
