* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', cursive;
}

.header{
  background-image: url(../img/header-bg.JPG);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  height: auto;
  max-width: 1155px;
  width: 100%;
  margin: 0 auto;
}

.header__navbar {
  padding: 0 100px;
  background-color: rgb(206, 213, 217);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__list {
  display: flex;
}

.header__list ul {
  display: flex;
  margin: 0 40px;
  list-style: none;
}

.header__list li {
  margin: 0 40px;
  cursor: pointer;
  opacity: 0.7;
}

.header__list li:hover{
  opacity: 1;
}

.header__list a {
  color: rgb(19, 22, 25);
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}

.header__text {
  color: rgb(19, 22, 25);
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
  padding: 290px 0 ;
}

.header__title {
  font-size: 60px;
  font-weight: 700;
  line-height: 90px;
}

.header__description {
  font-size: 20px;
  font-weight: 600;
}

.items-header {
  margin-top: 30px;
}

.items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-top: 10px;
}

.self-item {
  margin: 20px;
}
.self-item:hover {
  border: 3px solid #696969;
}
a:hover {
  text-decoration: none;
  color: #000;
}
a {
  color: #000;
}

@media screen and (max-width: 960px) {
  .header__choises .contest {
    padding: 0 30px;
    font-size: 15px;
  }
  .checkmark {
    height: 20px;
    width: 20px;
  }
  .checkmark:after {
    left: 5px;
    top: 1px;
    width: 4px;
    height: 8px;
  }
}

@media screen and (max-width: 768px) {
  .header__list ul {
    margin: 0 20px;
  }
  .header__list li {
    margin: 0 35px;
  }
  .header__choises .contest {
    padding: 0 20px;
    font-size: 12px;
  }
  .checkmark {
    height: 15px;
    width: 15px;
  }
  .checkmark:after {
    left: 3px;
    top: 0px;
    width: 2px;
    height: 6px;
  }
  .header__btn {
    width: 190px;
    height: 45px;
    padding-top: 11px;
  }
}

@media screen and (max-width: 650px) {
  .header__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
  .header__choises .contest {
    padding: 0 23px;
    font-size: 13px;
  }
  .checkmark {
    height: 16px;
    width: 16px;
  }
  .checkmark:after {
    left: 3px;
    top: 0px;
    width: 3px;
    height: 7px;
  }
  .header__btn {
    width: 190px;
    height: 45px;
    padding-top: 11px;
    margin-top: 20px;
  }
  .header__title {
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
  }
  .header__text {
    max-width: 600px;
    margin: 130px auto 130px;
  }
}

@media screen and (max-width: 560px) {
  .header__list ul {
    margin: 0 10px;
  }
  .header__list li {
    margin: 0 20px;
  }
}

@media screen and (max-width: 480px) {
  .header__list ul {
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header__list li {
    margin: 0 15px 8px;
  }
  .header__text {
    margin: 90px auto 100px;
  }
  .header__bottom-arrov img {
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 385px) {
  .header__list ul {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0px;
  }
  .header__list li {
    margin: 0 10px 8px;
  }
  .header__bottom-arrov img {
    display: none;
  }
}

section {
  background-color: #aa9b77;
  padding: 71px 0;
}
.about__us {
  width: 712px;
  margin: 0 auto;
}
.about__us fieldset {
  border: 2px solid #978968;
}
.about__us legend {
  text-align: center;
  color: #837659;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0 13px;
}
.about__us p {
  font-size: 16px;
  font-weight: 400;
  color: #424242;
  padding: 72px 120px 60px;
  text-align: center;
  margin: 0 auto;
  line-height: 24px;
}
footer {
  background-color: #424242;
  color: #ffffff;
  text-transform: uppercase;
  padding: 50px 0 50px 0;
}
.footer {
  display: flex;
  justify-content: space-between;
}
.left-side h3 {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}
.left-side p {
  font-size: 10px;
  font-weight: 400;
  width: 306px;
  line-height: 20px;
}
.right-side {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.navigation {
  display: flex;
}
.navigation__item {
  font-size: 14px;
  font-weight: 400;
  border-right: 1px solid #aa9b77;
  text-decoration: none;
  color: #ffffff;
  padding: 0 7px 0 12px;
}
.without {
  border: none;
}
.text {
  font-size: 18px;
  font-weight: 400;
  text-transform: none;
  padding-top: 15px;
  padding-right: 7px;
}
