/* HEADER CSS */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', cursive;
}

.header{
  background-image: url(../img/header-bg.JPG);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  height: auto;
  max-width: 1155px;
  width: 100%;
  margin: 0 auto;
}

.header__navbar {
  padding: 0 100px;
  background-color: rgb(206, 213, 217);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo h1{
  font-size: 25px;
}

.header__list {
  display: flex;
}

.header__list ul {
  display: flex;
  margin: 0 40px;
  list-style: none;
}

.header__list li {
  margin: 0 40px;
  cursor: pointer;
  opacity: 0.7;
}

.header__list li:hover{
  opacity: 1;
}

.header__list a {
  color: rgb(19, 22, 25);
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}

.header__text {
  color: rgb(19, 22, 25);
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
  padding: 310px 0 ;
  font-size: 60px;
  font-weight: 700;
  line-height: 90px;
}

/* MAIN CSS */
.items-header {
  margin-top: 30px;
}

.items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-top: 10px;
}

.self-item {
  margin: 20px;
}
.self-item:hover {
  border: 3px solid #696969;
}
a:hover {
  text-decoration: none;
  color: #000;
}
a {
  color: #000;
}

section {
  background-color: #cec59c;
  padding: 71px 0;
}
.about__us {
  width: 712px;
  margin: 0 auto;
}
.about__us fieldset {
  border: 2px solid #978968;
}
.about__us legend {
  text-align: center;
  color: #525461;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0 13px;
}
.about__us p {
  font-size: 16px;
  font-weight: 400;
  color: #525461;
  padding: 72px 120px 60px;
  text-align: center;
  margin: 0 auto;
  line-height: 24px;
}

/* FOOTER CSS */
footer {
  background-color: #a3a78c;
  color: #525461;
  text-transform: uppercase;
  padding: 50px 0 50px 0;
}
.footer {
  display: flex;
  justify-content: space-between;
}
.left-side h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}
.left-side p {
  font-size: 10px;
  font-weight: 400;
  width: 306px;
  line-height: 20px;
}
.right-side {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.navigation {
  display: flex;
}
.navigation__item {
  font-size: 14px;
  font-weight: 400;
  border-right: 1px solid #aa9b77;
  text-decoration: none;
  color: #525461;
  padding: 0 7px 0 12px;
}
.without {
  border: none;
}
.text {
  font-size: 18px;
  font-weight: 400;
  text-transform: none;
  padding-top: 15px;
  padding-right: 7px;
}
