@media screen and (max-width: 960px) {
  .header__choises .contest {
    padding: 0 30px;
    font-size: 15px;
  }
  .checkmark {
    height: 20px;
    width: 20px;
  }
  .checkmark:after {
    left: 5px;
    top: 1px;
    width: 4px;
    height: 8px;
  }
}

@media screen and (max-width: 768px) {
  .header__list ul {
    margin: 0 20px;
  }
  .header__list li {
    margin: 0 35px;
  }
  .header__choises .contest {
    padding: 0 20px;
    font-size: 12px;
  }
  .checkmark {
    height: 15px;
    width: 15px;
  }
  .checkmark:after {
    left: 3px;
    top: 0px;
    width: 2px;
    height: 6px;
  }
  .header__btn {
    width: 190px;
    height: 45px;
    padding-top: 11px;
  }
}

@media screen and (max-width: 650px) {
  .header__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
  .header__choises .contest {
    padding: 0 23px;
    font-size: 13px;
  }
  .checkmark {
    height: 16px;
    width: 16px;
  }
  .checkmark:after {
    left: 3px;
    top: 0px;
    width: 3px;
    height: 7px;
  }
  .header__btn {
    width: 190px;
    height: 45px;
    padding-top: 11px;
    margin-top: 20px;
  }
  .header__title {
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
  }
  .header__text {
    max-width: 600px;
    margin: 130px auto 130px;
  }
}

@media screen and (max-width: 560px) {
  .header__list ul {
    margin: 0 10px;
  }
  .header__list li {
    margin: 0 20px;
  }
}

@media screen and (max-width: 480px) {
  .header__list ul {
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header__list li {
    margin: 0 15px 8px;
  }
  .header__text {
    margin: 90px auto 100px;
  }
  .header__bottom-arrov img {
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 385px) {
  .header__list ul {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0px;
  }
  .header__list li {
    margin: 0 10px 8px;
  }
  .header__bottom-arrov img {
    display: none;
  }
}

/* FOOTER CSS */
@media (max-width: 768px) {
  .about__us {
    width: 600px;
  }
}
@media (max-width: 640px) {
  .about__us {
    width: 400px;
  }
  .about__us p {
    padding: 25px 40px;
  }
  .footer {
    flex-wrap: wrap;
  }
  .left-side {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }
  .left-side p {
    width: 100%;
    padding: 0 20px;
  }
  .right-side {
    align-items: center;
    width: 100%;
  }
  footer {
    padding: 65px 0 75px;
  }
}
@media (max-width: 480px) {
  .about__us {
    width: 280px;
  }
  .about__us p {
    padding: 5px 0;
  }
  .left-side h3 {
    font-size: 19px;
  }
  .left-side p {
    font-size: 9px;
  }
  .navigation__item {
    font-size: 13px;
  }
  .text {
    font-size: 17px;
  }
  footer {
    padding: 45px 0 55px;
  }
}
