<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/main.css">
    <link rel="stylesheet" href="../public/css/media.css">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:400,600,700&display=swap" rel="stylesheet">
    <title>Goods</title>
</head>

<body>
    <header class="basket-header">
        <div class="container">
            <div class="header__navbar" id="hidden-header">
                <div class="header__logo">
                    <h1> Радостинки</h1>
                </div>
                <div class="header__list">
                    <ul>
                        <li><a href="/gallery">Галерея</a></li>
                        <li><a href="/index">Головна</a></li>
                    </ul>
                    <div id="mini-basket">
                        <div id="mini-basket__background">
                            <div id="mini-basket__link">
                            </div>
                            <div id="mini-basket__hover_content">
                                <div class="title">
                                    Корзина
                                </div>
                                <div class="commodity">
                                    <img src="../public/img/mouse/DSC_7643.JPG" alt="">
                                    <div class="information__about__commodity">
                                        <a href="" class="link__on__commodity" title="Посилання на товар">Mouse</a>
                                        <div class="cost">
                                            <div class="price">
                                                500 грн
                                            </div>
                                            <div class="number">
                                                1 шт.
                                            </div>
                                            <div class="full__price">
                                                500 <span>грн</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="conclusion">
                                    <div class="link__in__basket">
                                        <a href="">В корзину</a>
                                    </div>
                                    <div class="main__price">
                                        1000 <span>грн</span>
                                    </div>
                                    <div class="registration">
                                        <a href="">Оформити</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </header>
    <section class="goods">
        <div class="goods__container">
            <div class="goods__content" id="goods-content">
            </div>
    </section>
    <footer>
        <div class="container">
            <div class="footer">
                <div class="left-side">
                    <h3>Радостинки</h3>
                    <p>У нас ви знайдете текстильні та в"язані іграшки-звірята; розвиваючі кубики; гризунці;
                        брязкальця;
                        намисто; текстильні тюльпани. Звертайтесь, радо створимо щось оригінальне і для Вас!
                    </p>
                </div>
                <div class="right-side">
                    <nav class="navigation">
                        <a href="#" class="navigation__item">About</a>
                        <a href="#" class="navigation__item without">Contact</a>
                    </nav>
                    <div class="text">
                        Design by fwd-14
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="public/scripts/main.js"></script>
</body>

</html>