<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../public/css/main.css">
    <link rel="stylesheet" href="../public/css/media.css">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:400,600,700&display=swap" rel="stylesheet">
    <title>Goods</title>
</head>

<body>
    <header class="basket-header">
        <div class="container">
            <div class="header__navbar" id="hidden-header">
                <div class="header__logo">
                    <h1> Радостинки</h1>
                </div>
                <div class="header__list">
                    <ul>
                        <li><a href="#">Галерея</a></li>
                        <li><a href="/index">Головна</a></li>
                    </ul>
                    <div id="mini-basket">
                        <div id="mini-basket__background">
                            <div id="mini-basket__link">
                            </div>
                            <div id="mini-basket__hover_content">
                                <div class="title">
                                    Корзина
                                </div>
                                <div class="commodity">
                                    <img src="../public/img/mouse/DSC_7643.JPG" alt="">
                                    <div class="information__about__commodity">
                                        <a href="" class="link__on__commodity" title="Посилання на товар">Mouse</a>
                                        <div class="cost">
                                            <div class="price">
                                                500 грн
                                            </div>
                                            <div class="number">
                                                1 шт.
                                            </div>
                                            <div class="full__price">
                                                500 <span>грн</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="conclusion">
                                    <div class="link__in__basket">
                                        <a href="">В корзину</a>
                                    </div>
                                    <div class="main__price">
                                        1000 <span>грн</span>
                                    </div>
                                    <div class="registration">
                                        <a href="">Оформити</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </header>
    <section class="goods">
        <div class="goods__container">
            <div class="goods__content">
                <div class="goods__photos">
                    <div class="mySlides">
                        <img src="../public/img/ball/emilia71.JPG" style="width:100%">
                    </div>

                    <div class="mySlides">
                        <img src="../public/img/ball/emilia72 (1 of 1).JPG" style="width:100%">
                    </div>

                    <div class="mySlides">
                        <img src="../public/img/ball/emilia73 (1 of 1).JPG" style="width:100%">
                    </div>

                    <div class="mySlides">
                        <img src="../public/img/ball/emilia74 (1 of 1).JPG" style="width:100%">
                    </div>

                    <div class="caption-container">
                        <p id="caption"></p>
                    </div>

                    <div class="row">
                        <div class="column">
                            <img class="demo cursor" src="../public/img/ball/emilia71.JPG" style="width:100%"
                                onclick="currentSlide(1)" alt="М'яч Монтессорі">
                        </div>
                        <div class="column">
                            <img class="demo cursor" src="../public/img/ball/emilia72 (1 of 1).JPG" style="width:100%"
                                onclick="currentSlide(2)" alt="М'яч Монтессорі">
                        </div>
                        <div class="column">
                            <img class="demo cursor" src="../public/img/ball/emilia73 (1 of 1).JPG" style="width:100%"
                                onclick="currentSlide(3)" alt="М'яч Монтессорі">
                        </div>
                        <div class="column">
                            <img class="demo cursor" src="../public/img/ball/emilia74 (1 of 1).JPG" style="width:100%"
                                onclick="currentSlide(4)" alt="М'яч Монтессорі">
                        </div>
                    </div>
                </div>
                <div class="goods__wrap">
                    <div class="goods__name">
                        М'яч Монтессорі
                    </div>
                    <div class="goods__price">
                        380 грн.
                    </div>
                    <div class="goods__title">
                        <h3>
                            М'яч Монтессорі - яскрава іграшка для дитини, яка буде актуальна з народження і до 3
                            років.
                            Діаметр м"яча 13 см. Всередині іграшки є брязкальце (звук ніжний). Мяч повністю охайно
                            зшитий, не містить жодних дрібних деталей. Також є мотузка (звязана з 100% нитки
                            бавовни),
                            нею можна кріпити іграшки до автокрісла, візочка, дитячого ліжечка чи манежу.
                            Іграшку можна прати у пральній машинці на делікатному пранні (як і всі наші іграшки)
                        </h3>
                    </div>
                    <div class="goods__buttons">
                        <button class="first__btn">Добавити до корзини</button>
                        <button class="second__btn">Купити в один клік</button>
                    </div>
                    <div class="goods__links">
                        <a href="#" class="first__link">Доставка і оплата</a>
                        <a href="#" class="second__link">Наявність в магазині</a>
                    </div>
                </div>
            </div>
            <div class="goods__description">
                <div class="goods__description-title">
                    Варіанти ігор з м'ячем
                </div>
                <h3>
                    <p>0-2 міс: Практикуйте ігри з мячем повільно переміщаючи його перед очима дитини, це допоможе
                        розвивати зір та чіткість у побачених предметах.</p>
                    <p>3 місяці: У цьому віці м'яч допомагає стимулювати дитину рухати ногами, які поступово стають все
                        більш контрольованими. Також, коли дитина лежить на спині, повісьте м'яч над ліжечком дитини або
                        автокріслом, і ви отримаєте імпровізований мобіль Монтессорі. Брязкальце, закріплене всередині
                        іграшки, приємно дзвенить та надає дитині зворотний зв'язок.</p>
                    <p>4-5 місяців: Коли дитина починає вчитися захоплювати речі обома руками, багато «частинок» м'яча
                        допомагають дитині розвивати силу, координацію та дрібну моторику рук.</p>
                    <p>6-7 місяців: Пізніше м'яч дає великий стимул діткам які починають повзати. Якщо покотити мяч, він
                        не закотиться далеко і цього досить, щоб дитина захотіла переслідувати його. Оскільки, дитина
                        зможе доповзти до мяча, це мотивуватиме котити мяч ще і ще.
                        Надалі можна гратися м"ячем, котити його по підлозі чи грати гру "Гарячу картоплю".</p>
                </h3>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="footer">
                <div class="left-side">
                    <h3>Радостинки</h3>
                    <p>У нас ви знайдете текстильні та в"язані іграшки-звірята; розвиваючі кубики; гризунці; брязкальця;
                        намисто; текстильні тюльпани. Звертайтесь, радо створимо щось оригінальне і для Вас!
                    </p>
                </div>
                <div class="right-side">
                    <nav class="navigation">
                        <a href="#" class="navigation__item">About</a>
                        <a href="#" class="navigation__item without">Contact</a>
                    </nav>
                    <div class="text">
                        Design by fwd-14
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="public/scripts/main.js"></script>
</body>

</html>