<!DOCTYPE html>
<html lang="ua">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:400,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="public/css/main.css">
    <link rel="stylesheet" href="public/css/media.css">
    <link rel="shortcut icon" href="public/img/title_icon.png" type="image/png">
    <title>Радостинки</title>
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header__navbar" id="hidden-header">
                <div class="header__logo">
                    <h1> Радостинки</h1>
                </div>
                <div class="header__list">
                    <ul>
                        <li><a href="#">Галерея</a></li>
                        <li><a href="/goods">Товари</a></li>
                    </ul>
                    <div id="mini-basket">
                        <div id="mini-basket__background">
                            <div id="mini-basket__link">      
                            </div>
                            <div id="mini-basket__hover_content">
                                <div class="title">
                                    Корзина
                                </div>
                                <div class="commodity">
                                 
                                </div>
                                <div class="conclusion">
                                    <div class="link__in__basket">
                                        <a href="/basket">В корзину</a>
                                    </div>
                                    <div class="main__price" id="fullPrice">
                                        500 <span>грн</span>
                                    </div>
                                    <div class="registration">
                                        <a href="/basket">Оформити</a> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header__text">
                Магазин в'язаних іграшок
            </div>
        </div>
    </header>
    <main name="goods">
        <h2 class="items-header text-center">Товари</h2>
        <hr>
        <div class="items card-group " id="goods">
        </div>
    </main>
    <hr>

    <section>
        <div class="container">
            <div class="about__us">
                <fieldset>
                    <legend>Про Нас</legend>
                    <p>
                        "Хто такі Радостинки? Радостинки - це іграшки ручної роботи, головною особливістю яких є усмішка
                        :) У нашій Творчій Майстерні ви зможете замовити та придбати текстильні та в'язані
                        іграшки-звірята, текстильні кубики для розвитку дрібної моторики, гризунці, брязкальця.
                        Звертайтесь, радо створимо щось оригінальне і для Вас!
                    </p>
                </fieldset>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="footer">
                <div class="left-side">
                    <h3>Радостинки</h3>
                    <p>У нас ви знайдете текстильні та в"язані іграшки-звірята; розвиваючі кубики; гризунці; брязкальця;
                        намисто; текстильні тюльпани. Звертайтесь, радо створимо щось оригінальне і для Вас!
                    </p>
                </div>
                <div class="right-side">
                    <nav class="navigation">
                        <a href="#" class="navigation__item">About</a>
                        <a href="#" class="navigation__item without">Contact</a>
                    </nav>
                    <div class="text">
                        Design by fwd-14
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
    <script src="public/scripts/main.js"></script>
</body>

</html>